<div class="container" *ngIf="author">
    <div class="header">
        <span class="helper"></span><a [href]="profile"><img class="ppic" [src]="author.imageUrl" width="30px" height="30px"></a>&nbsp;
        <b><a [href]="profile">{{author.username}}</a></b>
        <span class="helper"></span><a [href]="posturl"><label class="date">{{created}}</label></a>
    </div>
    <div class="item">
        <a [href]="posturl"><img class="post" [src]="post.imageUrl"></a>
    </div>
    
    <!-- <div class="description" *ngIf="author">
        <label><b><i>{{author.username}}</i></b>&nbsp;&nbsp;<i>{{ description }}</i></label>
    </div> -->

    <div class="description"><label><a [href]="profile"><b><i>{{author.username}}</i></b></a>&nbsp;&nbsp;</label>
        <div class="words" *ngFor="let word of words">
            <ng-container *ngIf="isHashtag(word); else elseTemplate"><span (click)="navigateAway(word)"><i>{{ word }}</i></span>&nbsp;</ng-container>
            <ng-template #elseTemplate><i>{{ word }}</i>&nbsp;</ng-template>
        </div>
    </div>

</div>
<!-- <hr width="300px"> -->